# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

common:
    parameters:
        database:
            host: localhost
            dbname: bigbandbiskupska
            user: root
            password:
            dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'
        poll:
            # - "'S Wonderful"
            # - "A String Of Pearls"
            # - "Alexander's Ragtime Band"
            # - "All I Want For Christmas Is You"
            # - "Away In A Manger"
            # - "Až se k tobě vrátím"
            - "Babičko nauč mě charleston"
            - "Bad, Bad Leroy Brown"
            # - "Beatles Hits"
            - "Bei Mir Bist Du Schön"
            # - "Big Swing Face"
            - "Birdland"
            - "Blonďák s červenou bugatkou"
            # - "Blues Machine"
            - "Bugatti step"
            # - "Byla jedna holčička"
            - "Can't Help Falling In Love With You"
            - "Can't Take My Eyes Off You"
            - "Chain Of Fools"
            - "Close Your Eyes"
            - "Crazy Little Thing Called Love"
            # - "Dneska pojedem vlakem ven"
            # - "Dívka v modrém"
            # - "Etuda v E"
            - "Everyday"
            - "Everything"
            - "Falling In Love With Love"
            - "Feeling Good"
            # - "Filmové melodie"
            - "Funiculi Funicula"
            - "Goldeneye"
            - "Hallelujah"
            - "Haven't Met You Yet"
            # - "Hello Dolly"
            # - "Hernando's Hideway"
            - "Hey, Good Lookin'"
            # - "Hluboko, hluboko"
            # - "Hádej Matyldo"
            - "I Dreamed A Dream"
            - "I Feel Good"
            - "I Just Called"
            # - "In The Mood"
            - "It Don't Mean A Thing"
            # - "It Had Better Be Tonight"
            # - "James Bond Theme"
            # - "Jazz Merry Christmas"
            - "Je t'aime"
            # - "Jen jedenkrát v roce"
            # - "Jingle Bells"
            # - "Jingle Bells GVB"
            # - "Já, Máří Magdaléna"
            # - "Každý má svůj sen"
            # - "Kočka není pes"
            # - "Let It Snow"
            - "Little Secret"
            - "Lullaby Of Birdland"
            - "Lásko má já stůňu"
            - "Mack The Knife"
            # - "Mackie Messer"
            # - "Memory"
            - "Milord"
            # - "Mona Lisa"
            # - "Monday Monday"
            - "Mr. Bojangles"
            - "My Heart Will Go On"
            - "My Way"
            - "New York"
            - "Non Je Ne Regrette Rien"
            # - "Oh Happy Day"
            - "Oh, Baby, Baby"
            - "One Moment In Time"
            # - "Over The Rainbow"
            - "Padam, Padam"
            # - "Psát od prvních řádků"
            - "Putin On The Ritz"
            - "Pátá"
            - "Přejdi Jordán"
            # - "Rock Around The Clock"
            # - "Rock This Town"
            # - "Rockin' Around The Christmas Tree"
            - "S láskou má svět naději"
            - "Save The Last Dance For Me"
            # - "Saxana"
            - "Sex Bomb"
            - "Sing, Sing, Sing"
            - "Sir Duke"
            - "Skyfall"
            # - "Slunečnice"
            # - "Smíření"
            # - "Směs Pomáda"
            # - "Směs písní Karla Hašlera"
            # - "Směs vánočních písní"
            # - "Somewhere"
            # - "Strangers In The Night"
            # - "Summertime"
            - "Sway"
            - "Swing čardáš"
            - "Swingin On The Moon"
            - "Take The A Train"
            - "Tell Him"
            - "Tenkrát na západě"
            # - "Tequila"
            # - "Thank You For The Music"
            - "The Best"
            - "The Jazz Police"
            # - "The Winner Takes It All"
            - "Things"
            - "Think"
            - "Thunderball"
            # - "Tichá noc"
            - "Tiger Rag"
            # - "Trombonové zazvonění"
            # - "True Love"
            - "Trumpet Blues"
            # - "Turecký pochod"
            # - "Třešňové květy"
            # - "Už nikdy víc milovat nebudu"
            # - "Vím, že jsi se mnou"
            # - "Waterloo"
            # - "What A Wonderful World"
            # - "White Christmas"
            - "Wonderwall"
            # - "Yakety Sax"
            # - "Yesterday"
            # - "You Needed Me"
            - "You'll Never Find Another Love Like Mine"
            # - "Četník se žení"
            # - "Četník v New Yorku"
            # - "Četník ze Saint Tropez"
            # - "Škoda lásky"
            # - "Švihák lázeňský"
            # - "Žabák"
    php:
        date.timezone: Europe/Prague


    application:
        errorPresenter: Error
        scanComposer: false
        mapping:
            *: App\*Module\Presenters\*Presenter


    session:
        expiration: 14 days


    services:
        routerFactory: App\RouterFactory
        router: @routerFactory::createRouter
        concerts: App\Model\ConcertModel()
        members: App\Model\MemberModel()
        songs: App\Model\SongModel()
        videos: App\Model\VideoModel()
        - Tulinkry\Poll\Services\NeonPollProvider(%appDir%/../polls/polls.neon)
        update: App\Model\UpdateModel()

    extensions:
        translation: Kdyby\Translation\DI\TranslationExtension
        tulinkry: Tulinkry\DI\TulinkryExtension
        scripts: Tulinkry\DI\ScriptExtension


    translation:
        default: cs
        fallback: [cs_CZ, cs]
        whitelist: [cs, en]
        debugger: on

    database:
        dsn: %database.dsn%
        user: %database.user%
        password: %database.password%

development < common:
    extensions:
        console: Kdyby\Console\DI\ConsoleExtension

production < common:

