# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

common:
	parameters:
		database:
			host: localhost
			dbname: bigbandbiskupska
			user: root
			password:
			dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'

	php:
		date.timezone: Europe/Prague


	application:
		errorPresenter: Error
		scanComposer: false
		mapping:
			*: App\*Module\Presenters\*Presenter


	session:
		expiration: 14 days


	services:
		routerFactory: App\RouterFactory
		router: @routerFactory::createRouter
		concerts: App\Model\ConcertModel()
		members: App\Model\MemberModel()
		songs: App\Model\SongModel()
		videos: App\Model\VideoModel()

	extensions:
	    translation: Kdyby\Translation\DI\TranslationExtension
	    tulinkry: Tulinkry\DI\TulinkryExtension


	translation:
	    default: cs
	    fallback: [cs_CZ, cs]
	    whitelist: [cs, en]
	    debugger: on

	database:
		dsn: %database.dsn%
		user: %database.user%
		password: %database.password%

development < common:
	extensions:
	    console: Kdyby\Console\DI\ConsoleExtension

production < common:

