common:
    parameters:
        google:
            maps:
                APIkey: apikey
development < common:

production < common:
    parameters:
        database:
            host: localhost
            dbname: bigbandbiskupska
            user: root
            password:
            dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'
parameters: